@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title:</h2>


<address>
    Desarrollo web<br />
    Guatemala<br />
    <abbr title="Phone">P:</abbr>
    55550011
</address>

<address>
    <strong>Contacto:</strong>   <a href="mailto:contacto@example.com">contacto@example.com</a><br />
    
</address>