@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Edy Juarez</h1>
    <p class="lead">Sistema examen final</p>
    <div>
        <a> @Html.ActionLink("Iniciar Sesión", "LoginAdmin", "Login") &raquo;</a>
    </div>
</div>